
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using engli.com, <%= @user.username %></h1>
    <p>
      You have gotten five more upvotes on your phrase <%= link_to @phrase.phrase, phrase_url(@phrase) %>
    </p>
    <p>Thank you for efforts and have a great day!</p>
  </body>
</html>
