@import '_variables.scss';

.content-div {
  background-color: $bgDefault;
  margin: 40px 10px;
  padding: 30px 40px;
  border-radius: 20px;
}

.custom-table {
  text-align: center;

  thead {
    background-color: $bgHighlight;
  }

  tbody {
    background-color: #aed581;
  }
}

.simple-link {
  text-decoration: none;
  color: #f7f7f7;

  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: $colHighlight;
    text-decoration: none;
  }
}
